alert("modal time! with ruby variables!")

// // inserts lightbox html
// $( "body" ).append( "<div id='lightbox' class='hidden'><img id='lightbox-img' src='' /></div>" );
// // replaces img src with data-img value
// var imgSrc = $(this).data("img")
// $("#lightbox-img").attr('src', imgSrc);
// // fade in
// $( "#lightbox" ).fadeIn(150);

// // Click page to fade out
// $("body").on('click', "#lightbox", function() {
//   // fade out
//   $( "#lightbox" ).fadeOut(150);
//   // remove lightbox after setTimeout
//   setTimeout(function() { 
//     $( "#lightbox" ).remove();
//   }, 150);
// });