/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*============================================================
NAV BAR
============================================================*/
nav {
  background-color: #f28500;
  height: 50px;
  width: 100vw;
  margin: 0;
  text-align: center;
}

nav .leftIcon {
  font-size: 12px;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 13px;
  top: 13px;
}

nav .rightIcon {
  font-size: 12px;
  height: 24px;
  width: 24px;
  position: absolute;
  right: 13px;
  top: 13px;
}

/*============================================================
GENERAL
============================================================*/
html {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-align: center;
}

h1 {
  color: white;
  font-family: 'Slabo 27px', serif;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
}

h2 {
  color: white;
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  margin-bottom: 30px;
}

h3 {
  color: #f28500;
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  margin-bottom: 20px;
}

a {
  color: #f28500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#orange_bg {
  background-color: #f28500;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -10;
}

#light_orange_bg {
  background-color: #faead7;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: -10;
}

.field {
  display: block;
  margin: 0 auto 30px auto;
  width: 345px;
  height: 42px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding-left: 20px;
  border-radius: 22px;
  border: none;
}

.button {
  min-width: 150px;
  height: 42px;
  border-radius: 22px;
  border: solid 1px white;
  margin: 0 auto 30px auto;
  padding: 0 22px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.1s ease;
}

#wrapper {
  position: absolute;
  top: 15vh;
  left: 50vw;
  width: 385px;
  -ms-transform: translate(-50%, 0); /* IE 9 */
  -webkit-transform: translate(-50%, 0); /* Safari */
  transform: translate(-50%, 0);
}

/*============================================================
DEVISE SIGN IN/UP
============================================================*/

#title_area, #devise_form {
  width: 385px;
}

#logo {
  width: 230px;
  height: 230px;
  margin: 40px 0 30px 0;
}

#title {
  font-family: 'Slabo 27px', serif;
  font-size: 48px;
  color: white;
  margin-bottom: 10px;
}

#motto {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}

#devise_links a {
  color: white;
  font-size: 12px;
  line-height: 18px;
}

.button.sign, .button.delete {
  color: #f28500;
  background-color: white;
}

.button.sign:hover {
  color: white;
  background-color: #f28500;
  border: solid 1px white;
  transition: all 0.5s ease;
}

.button.delete:hover {
  color: white;
  background-color: red;
  border: solid 1px white;
  transition: all 0.5s ease;
}