/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

h1 {
  font-family: 'Slabo 27px', serif;
  font-size: 50px;
  color: white;
  margin-bottom: 10px;
  line-height: 50px;
}

h2 {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}

main {
  background-color: #faead7;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  text-align: center;
}

/*============================================================
NAV
============================================================*/
nav {
  width: 100vw;
  height: 50px;
  margin: 0;
  background-color: #f28500;
  text-align: center;
}

.leftIcon {
  width: 24px;
  height: 24px;
  font-size: 12px;
  position: absolute;
  top: 13px;
  left: 13px;
}

.rightIcon {
  width: 24px;
  height: 24px;
  font-size: 12px;
  position: absolute;
  top: 13px;
  right: 13px;
}

/*============================================================
MATCH MODAL
============================================================*/
#overlay {
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: absolute;
  top: 0;
  text-align: center;
}

.hidden {
  display: none;
}

.beermug {
  width: 150px;
  margin: 75px 0 25px 0;
}

.dreambeer {
  font-family: Courier;
  color: #f28500;
  font-size: 24px;
  margin-bottom: 25px;
}

#close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
  background-size: 30px 30px;
  background-image: url('close.svg');
  cursor: pointer;
  transition: all 0.5s ease;
}

#close:hover {
  background-image: url('close_orange.svg');
}

/*============================================================
DEVISE SIGN IN/UP
============================================================*/

#landing {
  background-color: #f28500;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

#content {
  position: relative;
  top: 10vh;
  left: 50vw;
  width: 365px;
  -ms-transform: translate(-50%, 0); /* IE 9 */
  -webkit-transform: translate(-50%, 0); /* Safari */
  transform: translate(-50%, 0);
  // border: solid 1px black;
}

#title_area, #devise_form {
  width: 365px;
}

// #title_area, #devise_form {
//   display: inline-block;
// }

#logo {
  width: 230px;
  height: 230px;
  margin: 40px 0 30px 0;
}

#title {
  font-family: 'Slabo 27px', serif;
  font-size: 48px;
  color: white;
  margin-bottom: 10px;
}

#motto {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}

#devise_links {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 12px;
}

.field {
  display: block;
  margin: 0 auto 30px auto;
  width: 345px;
  height: 42px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding-left: 20px;
  border-radius: 22px;
  border: none;
}

.button {
  min-width: 150px;
  height: 42px;
  border-radius: 22px;
  border: none;
  margin: 0 auto 30px auto;
  padding: 0 22px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.button.sign {
  color: #f28500;
  background-color: white;
}

.button.sign:hover {
  color: white;
  background-color: #f28500;
  border: solid 1px white;
  transition: all 0.2s ease;
}

// #buttonbkg{
//   background-color: #f28500;
//   width: 100px;
//   border: 0px solid;
//   text-align: center;
//   color: white;
// }

// #buttonbkg:hover{
//   background-color: green;
//   width:110px;
//   cursor:pointer
// }

// #button{
//   background-color: #f28500;
//   width: 100px;
//   border: 0px solid;
//   text-align:center;
//   color:white;
// }

// #button:hover{
//   background-color: green;
//   width:110px;
//   cursor:pointer
// }

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.alignment{
  text-align:left;
}


.centr-contnt{
  position:relative;
  top:40px;
}

.centr-contnt a{
  font-size:11px;
}

.centr-contnt a:hover{
  font-size:12px;
}

.alignment{
  width:400px;
   text-align:left;
}

.centr-contnt input{
  width:400px;
  border-radius:3px;
  border: 0.4px #666666 solid;
}

#editSubmit{
  background-color: #f28500;
  width: 100px;
  border: 0px solid;
  text-align:center;
  color:white;
}

#editSubmit:hover{
  background-color: green;
  width:110px;
  cursor:pointer
}

#editCancel{
  background-color: #f28500;
  width: 100px;
  border: 0px solid;
  text-align:center;
  color:white;
}

#editCancel:hover{
  background-color: red;
  width:110px;
  cursor:pointer
}




