<!DOCTYPE html>
<html>
  <head>
    <title>TAPPD</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="description" content="Tappd is a beer discovery app that allows users to discover and bookmark beers they want to try. Users are alerted to beers in close proximity.">
    <link href="https://fonts.googleapis.com/css?family=Lato|Slabo+27px" rel="stylesheet">
  </head>
  <body>

    <%= yield %>

  </body>
</html>